{% extends "layout.html" %}

{% block content %}
<div class="content-section" style="width: 1000px;">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-left">
            <p> </p>
            <h2>About FriendShip</h2>
            <p>
                FriendShip is a unique platform that connects friends to help each other with international shopping.
                Our goal is to bridge the gap between individuals who want to purchase items from abroad but face
                limitations or difficulties in doing so.
            </p>
            <p>
                With FriendShip, you can submit a request for a specific item that is not available or easily
                accessible in your country. Your friends who are traveling or living in other countries can browse
                through these requests and offer to purchase and ship the requested items to you.
            </p>
            <p>
                We believe in the power of friendship and the joy of helping each other. FriendShip enables you to
                tap into your social network to fulfill your shopping needs and experience the excitement of receiving
                unique products from around the world.
            </p>
            <p>
                Join FriendShip today and start connecting with your friends to make your international shopping
                dreams come true!
            </p>
        </div>

    </div>
</div>

{% endblock %}

